.copy {
	//border: 1px solid green;
	display: table-cell;
	padding: 1em;
	width: 50%;

	@media #{$sm} {
		display: table-row;
	}

	p {
		margin-bottom: 1em;
	}
	.sponsor {
		border: 1px solid pink;
		margin: 1em 0;
		padding: 1em;
	}
}