.game {
	border: 1px solid orange;
	display: table-cell;
	width: 50%;

	@media #{$sm} {
		display: table-row;
	}
}
.card {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}
.square {
	border: 1px solid teal;
	width: 20%;

	&.clicked {
		background: green;
	}
	&.notclicked {
		background: grey;
	}
}