* {
	box-sizing: border-box;
}
*:before, *:after {
	box-sizing: border-box;
}
.clearfix:before, .clearfix:after, %clearfix:before, %clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after, %clearfix:after {
	clear: both;
}

.wrapper {
	margin: 0 auto;
	max-width: 1024px;
	width: 100%;
}
.inner {
	display: table;
	width: 100%;
}